{# Purpose of this template: Display a popup selector of links for scribite integration #}
{% set useFinder = true %}
{% extends 'RKDownlinkModule::raw.html.twig' %}
{% block title __('Search and select link') %}
{% block content %}
    <div class="container">
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set activatedObjectTypes = getModVar('RKDownlinkModule', 'enabledFinderTypes', []) %}
            {% if 'link' in activatedObjectTypes %}
                <li{{ objectType == 'link' ? ' class="active"' : '' }}><a href="{{ path('rkdownlinkmodule_external_finder', {objectType: 'link', editor: editorName}) }}" title="{{ __('Search and select link') }}">{{ __('Links') }}</a></li>
            {% endif %}
            </ul>
        </div>
        {% form_theme finderForm with [
            '@RKDownlinkModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: {id: 'rKDownlinkModuleSelectorForm'}}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select link') }}</legend>
            {% if featureActivationHelper.isEnabled(constant('RK\\DownlinkModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'link') %}
                {{ form_row(finderForm.categories) }}
            {% endif %}
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Link') }}:</label>
                <div class="col-sm-9">
                    <div id="rkdownlinkmoduleItemContainer">
                        <ul>
                            {% for link in items %}
                                <li>
                                    {% set itemId = link.getKey() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {{ link|rkdownlinkmodule_formattedTitle }}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('rkdownlinkmodule_link_display', {'id': link.getId()}) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('rkdownlinkmodule_link_display', {'id': link.getId()}) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ link|rkdownlinkmodule_formattedTitle|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if link.myDescription is not empty %}{{ link.myDescription }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                </li>
                            {% else %}
                                <li>{{ __('No links found.') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'rkdownlinkmodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="rkdownlinkmodule-finderform">
        <fieldset>
            {{ render(controller('RKDownlinkModule:Link:edit')) }}
        </fieldset>
    </div>
    #}
{% endblock %}
